		 body{
                        background-image:url("https://ak2.picdn.net/shutterstock/videos/30417052/thumb/1.jpg");
                        background-size:50% 50%;
                        background-attachment:fixed;
                }   
                .navigation{
                                background-color:white;
                                margin:0px;
                                font-size:20px;
                }   
                a{  
                                color:black;
                                padding:20px;
                }   
                a:hover{
                        background-color:black;
                        color:white;
                        }   
                a:link{
                        text-decoration:none;
                }   
                .content{
                        background-color:white;
                        width:50%;
                        height:40%;
                        margin-bottom:20%;
                        border:2px solid white;
                        border-radius:20px;
                        font-size:20px;
                        padding:5%;
                        }
		 #d01,#d03{
                        float:left;
                        overflow:auto;
                }
                #d02{
                        width:50%;
                        height:60%;
                        border:2px solid white;
                        padding:10%;
                        margin-bottom:20%;
                        float:right;
                        background-image:url("https://researchweb.iiit.ac.in/~vani.sancheti/image/careerimg.jpg");
                        background-size:100% 100%;
                }
                .header{
                        background-color:black;
                        color:white;
                        text-align:center;
                }

