		body{
                        background-image:url("https://researchweb.iiit.ac.in/~vani.sancheti/image/likesbg.jpg");
                        background-size:100% 100%;
                        background-attachment:fixed;
                        display:grid;
                        margin-left:10%;
                        grid-template-columns:30% 30% 30%;
                        grid-template-rows:50px 100px 400px 400px 50px;
                        grid-template-areas:"navigation navigation navigation"
                                            "header header header"
                                            "box1 box2 box3"
                                            "box4 box5 box6"
                                            "footer footer footer"
                        }
                a{
                        color:white;
                        padding:20px;
                }
                a:hover{
                        background-color:white;
                        color:black;
                        }
		a:link{
                        text-decoration:none;

                        }
                .navigation{
                                grid-area:navigation;
                }
                .header{
                        grid-area:header;
                        text-align:center;
                        color:white;
                }
                #box1{
                        grid-area:box1;
                        border:2px;

                        }
                #box2{
                        grid-area:box2;
                        padding:20px;
                        }
                #box3{
                        grid-area:box3;
                        }
                #box4{
                        grid-area:box4;
                        }
                #box5{
                        grid-area:box5;
                        }
		#box6{
                        grid-area:box6;
                        }

                .footer{
                        background-color:black;
                        color:white;
                        padding:20px;
                        grid-area:footer;
                        margin:0px;
                }
                .buttons{
                        color:white;
                }
                #box1,#box3,#box5{
                                background-color:#ed2452;
                        border-radius:50%;
                                text-align:center;
                }
                #box2,#box4,#box6{
                                background-color: #365ef5 ;
                        border-radius:50%;
                                text-align:center;
                }

