		body{
                        display: grid;
                        grid-template-columns: 1fr 200px;
                        grid-template-areas:"navigation navigation"
                                             "header header"
                                             "contents sidebar"
                                             "footer footer";

                        grid-template-rows:50px 50px 1fr 100px ;
                        margin:0;
                        background-image:url("https://researchweb.iiit.ac.in/~vani.sancheti/image/myselfbg.jpg");
                        background-size:100% 100%;
                }
                a{
                        color:white;
                        }
                a:link{
                        text-decoration:none;
                }
                .navigation{
                        grid-area:navigation;
                        background-color:black;
                        color:white;
			overflow:auto;
                        padding:20px;

                }
		#h01{
                        grid-area:header;
                        margin-bottom:20px;
                        line-height:1px;
                }
                .contents{
                        grid-area:contents;
                        overflow:auto;
                        }
                .sidebar{
                        grid-area:sidebar;
                        color:white;
			
                }
		.sidebar button{
			background-color:grey;
			color:white;
			padding:15px 32px;
			text-align:center;
			text-decoration:none;
			width:100%;
			margin-bottom:20px;	
			}
                .footer{
                        grid-area:footer;
                        background-color:black;
                        color:white;

                }
                img{
                        width:40%;
                        height:40%;
                        border:2px solid white;
                        border-radius:10px;
                        display:block;
                        margin:20px
                }
                a{
                        padding:14px;
                        }
		 a:hover{
                        background-color:white;
                        color:black;
                       }
		.modal1{
			display:none;
			position:fixed;
			z-index:1;
			width:100%;		
			height:100%;
			overflow:auto;
			background-color:rgba(0,0,0,0.4);
			}
		.m1content{
			margin:auto;
			padding:20px;
			width:80%;
			}
		.cl1{
			color:black;
			float:right;
			font-size:30px;
			font-weight:bold;
			cursor:pointer;
			}
		
			
		
