		 .img00{
                        background-image:url("https://researchweb.iiit.ac.in/~vani.sancheti/image/family.jpg");
                        }
                .img01{
                        background-image:url("https://researchweb.iiit.ac.in/~vani.sancheti/image/ashwinsancheti.jpg");
                        }
                .img02{
                        background-image:url("https://researchweb.iiit.ac.in/~vani.sancheti/image/atulsancheti.jpg");
                        }
                .img03{
                        background-image:url("https://researchweb.iiit.ac.in/~vani.sancheti/image/trishlasancheti.jpg");
                        }
                .image{
                        width:100%;
    

                        }
                .img00, .img01, .img02, .img03{
                                position:relative;
                                min-height:450px;
                                background-attachment:fixed;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center;
                        }
                .heading{
                                text-align:center;
                        }
		 ul{
                        list-style-type:none;
                        margin:0px;
                        padding:0px;
                        overflow:hidden;
                        background-color:black;
                        }
                li{
                        float:left
                        }
                li a{
                        display:block;
                        color:white;
                        text-align:center;
                        padding: 14px 16px;
                        text-decoration:none;
                        }
                li a:hover{
                        background-color:grey;
                        }
                .content{
                                font-size:20px;
                        }
                .fir{
                        text-shadow: 2px 2px 1px green;
                        color:blue;
                        }

