		table {
			width:40%;
			height:30%;
                        margin-right:2px;
                        padding:2%;
                        margin-bottom:20%;
                        background-image: url("https://researchweb.iiit.ac.in/~vani.sancheti/image/try1table.jpeg");
                        background-size:100% 100%;
                        }
                a:link{
                        text-decoration:none;
                        padding:10px;
                }

                a:hover{
                        background:#e6005c;
                        color:white;
                }

                .same {
                        border:7px outset #f2f2f2;
                        height:80px;
                        }
                body {
                        background-image: url("https://researchweb.iiit.ac.in/~vani.sancheti/image/try1bg.jpg");
                        background-size:100% 100%;

                }
		#p01{
			word-break:break-all;
			text-align:center;
                        font-family:italic;
                        font-size:50px;
                        text-shadow: 1px 4px 5px #0000ff;
			-webkit-animation-name:anim_shadow;
			-webkit-animation-duration:10s;
                        animation-name:anim_shadow;
                        animation-duration:10s;
                        animation-iteration-count:infinite;
                        grid-area:p01;
                }
		#p01:hover{
			overflow:visible;
		}
                
                @keyframes anim_shadow{
                        0% {text-shadow: 1px 4px 5px blue;}
                        50% {text-shadow: 1px 4px 5px red;}
                        100% {text-shadow: 1px 4px 5px blue;}
                }
                img {
                        width:400px;
                        border-radius:20px;
                }
                #m02{
                        width:50%;
			grid-area:m01;
                }
                #img01{
			grid-area:img01;
                }
                .main{
                        display:grid;
                        grid-template-columns: 50% 50%;
                        grid-template-areas:"p01 t01";
                        padding:2px;
                        }
                .t01{
                        grid-area:t01;
                }
		.rem{
			margin:10%;
			display:grid;
			grid-template-columns: 60% 40%;
			grid-template-areas:"m01 img01";
			padding:2px;
			}
		


